body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 25px;
    text-align: center;
}

#Nav {
    background-color: mediumpurple;
    width: 20%;
    min-width: 140px;
    height: 400px;



}

li {
    list-style:circle;
}

em {
    background-color:lightgrey;
}

td em, h3 {
    color:darkblue;
}

#footer {
    font-size:small;
    text-align: center;
}

a:visited {
    color:cyan;
}

a:hover {
    color:darkblue;
}

#subpage {
    background-color: white;
    color: darkblue;
    margin-left: 50px;
    margin-right: 100px;
    padding:1px;
}
#Welcome {
    color: darkgray;
    text-align: center;
    font-family: fantasy;
    text-decoration: underline;
    font-size: large;
    padding:1px;

}
#subpage li {
    list-style: square;
}

.img {
    height:50px;
    width: 50px;
    position: absolute;
    top: 150px;
    right:170px;
    padding:1px;
}

.backgr {
    background-color:white;
}
